# Flutter & Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-downloader
.metadata

# Builds
build/
example/build/

# Platforms: Android
android/.gradle/
android/.idea/
android/local.properties
example/android/.gradle/
example/android/.idea/
example/android/local.properties

# Platforms: iOS / macOS
DerivedData/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
example/ios/Flutter/Generated.xcconfig
example/ios/Flutter/ephemeral/
example/ios/.symlinks/
example/ios/Pods/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/
example/macos/Flutter/GeneratedPluginRegistrant.swift
example/macos/Flutter/ephemeral/

# Platforms: Windows / Linux
windows/flutter/ephemeral/
example/windows/flutter/ephemeral/
linux/flutter/ephemeral/
example/linux/flutter/ephemeral/

# IDEs / editors
.idea/
*.iml
.vscode/

# Misc
.DS_Store
*.log
*.lock.json
Generated.xcconfig
